<%= form_tag multi_delete_tasks_path, method: :delete do %>

<!-- nawigacja górna -->
  <div class="d-flex justify-content-end">
    <!-- jeśli będziemy w akcji new to nie będzie przycisku tylko tekst "dodawanie nowego wpisu" -->
    <% if params[:controller] != 'TasksController' && params[:action] != 'new' %>
      <div class="mr-auto p-2">
        <%= link_to new_task_path, class: "btn btn-warning" do %>
          <i class="fa fa-plus" aria-hidden="true"></i> Dodaj zadanie
        <% end %>
      </div>
    <% else %>
      <div class="mr-auto p-2"><h4>Dodawanie nowego zadania</h4></div>
    <% end %>

    <!-- przycik cdo usuwania odhaczonych zadan, form_for jest po to, by ten przycisk działał, on jest submitem -->
    <div class="p-2">
      <%= button_tag(type: "submit", data: {confirm: "czy na pewno chcesz usunąć?" }, class: "btn btn-danger") do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i> Usuń zaznaczone zadania
      <% end %>
    </div>

  </div>

  <!-- tabelka z zadaniami -->
  <table class="table table-hover table-responsive">

    <thead class="thead-inverse">
      <tr>
        <th>Zadanie</th>
        <th>Priorytet</th>
        <th>Deadline</th>
        <th>Czy zakończone?</th>
      </tr>
    </thead>

    <tbody>

      <tr class="table-active">
        <td colspan="4"><h4>Uwaga PRZESTARZAŁE! Jesteś po terminie! Zrób je szybko!</h4></td>
      </tr>

      <% @tasks.each do |task| %>
        <% if task.deadline.to_date < Date.today %>
          <%= render 'taskslist', t: task %>
        <% end %>
      <% end %>

      <tr class="table-danger">
        <td colspan="4"><h3>NA DZIŚ</h3></td>
      </tr>

      <% @tasks.each do |task| %>
        <% if task.deadline.to_date == Date.today %>
          <%= render 'taskslist', t: task %>
        <% end %>
      <% end %>

      <tr class="table-warning">
        <td colspan="4"><h3>NA JUTRO</h3></td>
      </tr>

      <% @tasks.each do |task| %>
        <% if task.deadline.to_date == Date.tomorrow %>
          <%= render 'taskslist', t: task %>
        <% end %>
      <% end %>

      <tr class="table-success">
        <td colspan="4"><h4>na później</h4></td>
      </tr>

      <% @tasks.each do |task| %>
        <% if task.deadline.to_date > Date.tomorrow %>
          <%= render 'taskslist', t: task %>
        <% end %>
      <% end %>

    </tbody>
  </table>
<% end %>
